Source: alff
Section: admin
Priority: optional
Maintainer: Maximilian Wilhelm <max@rfc2324.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: alff-rulegen
Architecture: all
Depends: perl, libxml-simple-perl, gawk, bash
Description: A Linux Firewall Framework - rule generation
 This package is part of the "A Linux Firewall Framework".
 .
 This package contains the tools for managing firewall configuration and
 generating rulesets for your firewalls.

Package: alff-agent
Architecture: all
Depends: iptables
Description: A Linux Firewall Framework - rule loading agent
 This package is part of the "A Linux Firewall Framework".
 .
 This package contains tools to load new rules on your firewall machines.
 It provides support for easy and automated roll-back if the new ruleset
 does not work as expected.
