Source: alff
Section: admin
Priority: optional
Maintainer: Maximilian Wilhelm <max@rfc2324.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: alff
Architecture: all
Depends: perl, libxml-simple-perl, gawk, bash
Description: The RBM firewall framework
 This package provides the RBM firewall framework.
